.active {
  color: #fff;
}
.navbar-toggler {
  border: solid 1px silver;
  border-radius: 2px;
  color: #eee;
}
.loginForm{
  float: right;
  height: 10px;
}

#login {
  margin-top: 10px;
  height: 25px;
}
#loginButton{
  height: 25px;
  vertical-align: center;
  margin-top: 10px;
}