<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class = "row">

      <a (click)="isCollapsed = true" class="navbar-brand hidden-sm-up" [routerLink]="[brandMenu.path]">
          {{brandMenu.title}}
      </a>

      <div id="login">
        <div *ngIf="isLoggedin" >
            <input type="button" class="btn btn-primary" (click)="logout()" value="{{logoutStr}}" />
        </div>

        <div *ngIf="!isLoggedin" >
          <div class="col-lg-12">
            <div class="col-lg-4">
              <input placeholder="{{userNameStr}}" class="form-control" type="text" #username />
            </div> 
              
            <div class="col-lg-4"> 
                  <input placeholder="{{passwordStr}}" class="form-control" type="password" #password />
            </div>

            <div class="col-lg-4">
                <input type="button" class="btn btn-primary" (click)="login(username.value, password.value)" value="{{authStr}}" />
            </div>
          </div>
        </div>
      </div>

    </div><!-- row -->
  </div>
</nav>
